.logo {
      line-height: 60px;
      position: static;
      float: left;
      margin: 16px 46px;
      color: black;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
      }
body{
      width: 100%;
      height: 150vh;
      background: url(890.png) no-repeat center;
      background-size: cover;
}
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
}
 
body {
      font-family: "Helvetica Neue",sans-serif;
      font-weight: lighter;
    
 
}
 
@media(max-width: 786px) {
 
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
 
      nav ul {
            max-height: 0px;
            background: #000;
      }
 
      nav.black ul {
            background: #000;
      }
 
      .showing {
            max-height: 34em;
      }
 
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
 
      .menu-icon {
            display: block;
      }
 
}nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}



   
   nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
 